body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;

}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;

}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.50rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;


}
hr {

 border: dotted #EAF6F6 6px;
 border-bottom: none;
 width: 4%;
 margin: 100px auto;
}

p{
  line-height: 2;

}
.top {
  background-color: #c3edea;
  position: relative;
  padding-top: 100px;


}

.intro{
  width: 30%;
  margin: auto;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.middle{
margin: 100px 0;

}
.bottom{
  background-color: #66BFBF;
  padding: 50px 0 20px;

}
.Art{
  text-decoration: underline;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

.diy{
  height: 25%;
  width: 25%;
  float: left;
  margin-right: 30px;
}
.painting{
  height: 25%;
  width: 25%;
  float: right;
  margin-left: 30px;
}
a {
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;

}
a:hover{
  color: #EAF6F6;

}
.skill-row{
  margin: 100px auto;
  width: 50%;
  text-align: left;

}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;

}

.btn{

   -webkit-border-radius: 6px;

   -moz-border-radius: 6px;

   border-radius: 6px;

   height: 5px;

   line-height: 5px;

   color: #FFFFFF;

   font-family: 'Montserrat', sans-serif;

   width: 131px;

   font-size: 19px;

   font-weight: 100;

   padding: 20px;

   background-color: #66BFBF;

   text-decoration: none;

   display: inline-block;

   cursor: pointer;

   text-align: center;

}



.btn:hover {

   border: solid #30e3cb 1px;

   background: #2bc4ad;

   background-image: -webkit-linear-gradient(top, #2bc4ad, #30e3cb);

   background-image: -moz-linear-gradient(top, #2bc4ad, #30e3cb);

   background-image: -ms-linear-gradient(top, #2bc4ad, #30e3cb);

   background-image: -o-linear-gradient(top, #2bc4ad, #30e3cb);

   background-image: linear-gradient(to bottom, #2bc4ad, #30e3cb);

   -webkit-border-radius: 20px;

   -moz-border-radius: 20px;

   border-radius: 20px;

   text-decoration: none;

}
